th {background-color: #DEB887; font-style: italic; }
table {background-color:#FFEFD5; height: 600px; width: 1000px; 
    margin: 0.8% 200px; border: 2px inset black;
    padding: 8px;}
.b {padding: 0 2%;}
body {background-color: #F5DEB3;} 
tr {font-size: 16px;}
.a {padding: 0 2%; background-color: #FFDEAD;}