.d {border-radius:40px; height: 160px; width: 300px; margin: auto; display: block;}
body {background-color: #FFE4C4;}
.a {background-color: #D2B48C;margin: auto; display: block; width: 300px; border-radius: 40px;}
.b, .e {background-color: #FFFFE0; border: 1px solid black; border-radius: 15px;}
.q {width: 500px; height: 280px;}
.v {padding:0 10%;}
.s {height: 175px; width: 120px;}
.m {height: 175px; width: 170px;}
.r {border-spacing: 170px 0; margin: 5% 5%;}
.z {height: 175px; width: 150px;}
.y {height: 175px; width: 160px;}
.h {height: 175px; width: 120px;}
.t {height: 175px; width: 105px;}
.l {background-color: #D2B48C;margin: auto; display: block; width: 200px; border-radius: 40px;}
