.head {
    background-color: crimson; 
    height: 200px;
    margin-bottom: 1px;
    margin-top: 20px;
}
.sidebar {
    background-color: darkkhaki; 
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 25%;
    float: left;
    margin-right: 1%;
}
.sidebar2 {
    background-color: darkkhaki; 
    height: 500px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 25%;
    float: right;
    margin-left: 1%;
}
.content {
    background-color: darkseagreen; 
    height:500px;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 48%;
    float: left;
}
.footer {
    background-color: lightblue; 
    height: 200px;
}
.group:after {
    content: "";
    display: table;
    clear: both;
}
.b {
    margin-left: 2%;
    margin-top: 2%;
    border-radius: 30px;
    float: left;
    margin-right: 2%;
}
.a {
    height: 200px;
    width: 1900px;
}
